<% content_for :title, "Editing bounty" %>

<h1>Editing bounty</h1>

<%= render "form", bounty: @bounty %>

<p>
  <%= link_to "Show this bounty", @bounty %> |
  <%= link_to "Back to bounties", bounties_path %>
</p>
