<% content_for :title, "Bounties" %>

<h1>Bounties</h1>

<%= button_to "&plus; Post a bounty".html_safe, new_bounty_path, method: :get %>

<table id="bounties" class="mt-4">
  <%= render @bounties %>
</table>
