<% content_for :title, "Bounties" %>

<h1>Bounties</h1>

<div id="bounties">
  <% @bounties.each do |bounty| %>
    <%= render bounty %>
    <%= link_to "Show this bounty", bounty, class: :block %>
  <% end %>
</div>

<%= link_to "New bounty", new_bounty_path %>
